
      /* main */
      #contact h2{
        color: white;
      }

      #contact {
        width: 50vw;
        height: auto;
        border-radius: 2rem;
        background: #181818;
        text-align: center;
        padding: 1rem 1rem;
        margin-top: 6rem;
      }

      #contact p{
  margin-bottom: 1.5rem;
  color: #ccc;
  font-size: 1rem;
}

.form-note {
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 0.5rem;
  text-align: center;
}

      .contact-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }

      .contact-form input,
      .contact-form textarea {
        padding: 0.8rem;
        border: none;
        border-radius: 0.4rem;
        background: #222;
        color: white;
        resize: none;
      }

      .contact-form button {
        width: 9rem;
        padding: 0.8rem;
        background: #00bfff;
        color: white;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        font-weight: bold;
        transition: background 0.3s ease;
         position: relative;
        left: 5rem;
      }

      .contact-form button:hover {
        background: #0099cc;
      }

      /* footer */
      footer {
        padding-top: 0.3rem;
        background-color: black;
      }



      /* ------------------ MOBILE RESPONSIVE ------------------ */
@media (max-width: 750px) {
      #contact {
        width: 70vw;
      }
    

}
    