* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(228, 232, 232, 0.508);
}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.971);
  position: fixed;
  width: 100%;
  padding: 14px 0;
  z-index: 10;
}

ul {
  display: flex;
  gap: 16px;
}

a {
  padding: 5px;
  text-decoration: none;
  color: rgb(244, 240, 240);
  transition: background-color 0.6s ease-in;
}

a:hover {
  background-color: red;
}

button {
  border: 2px solid rgb(10, 10, 10);
  background-color: red;
  color: white;
  width: 3.5rem;
  padding: 0.3rem 0.4rem;
  transition: all 0.6s ease-in-out;
}
button:hover {
  border: 2px solid red;
  color: red;
  background-color: white;
}
button a:hover {
   color: red;
  background-color: white;
}
.i{
  display: none;
}
/* main */
.main {
  margin-top: 67.5px;
}

/* section */
.head-container {
  clip-path: polygon(0 92%, 43% 100%, 100% 97%, 100% 0, 0 0);
  background-color: black;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  max-width: 70vw;
}

.banner {
  margin-left: 7rem;
  width: 16rem;
}

.headpra {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.notheadpra {
  color: rgb(189, 186, 186);
}

.getsbutton {
  width: 8rem;
  padding: 0.4rem;
  margin-left: 10rem;
  margin-top: 0.3rem;
}

/* main-container */
.main-container {
  max-width: 70vw;
  margin: 0 auto;
}

main {
  margin: 1rem 0;
  background-color: white;
  min-height: 100vh;
  border-radius: 5px;
  padding: 10px;
}

main h1 {
  margin-top: 1rem;
  text-align: center;
  color: rgb(91, 91, 191);
  word-spacing: 1rem;
}

main p {
  margin-top: 1rem;
  color: rgb(87, 85, 85);
  word-spacing: 0.3rem;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.services p {
  text-align: justify;
  font-size: 0.8rem;
}

.services span {
  font-weight: 100;
  font-size: 1.5rem;
  color: rgb(23, 22, 22);
}

.services button {
  width: 11rem;
  border-color: blue;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
}

.services button:hover {
  background-color: blue;
}

.services a {
  color: black;
}

.services a:hover {
  background-color: blue;
}

.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 250px;
  height: 180px;
  margin: 1rem;
  background-color: rgb(239, 239, 239);
  transition: transform 0.6s ease-in;
}

.card:hover {
  transform: scale(1.1);
}

.fa-solid {
  margin-right: 1rem;
  color: rgb(66, 66, 219);
}

/* footer */
footer {
  clip-path: polygon(0 20%, 51% 0, 100% 23%, 100% 100%, 99% 100%, 0 100%, 0 100%);
  background-color: black;
  color: white;
  line-height: 1.6;
  margin-top: auto;
}

.main-topfooter {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-topfooter {
  padding: 1.25rem;
  min-width: 12.5rem;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

footer h1 {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 0.625rem;
}

footer p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(203, 200, 200);
}

form {
  display: flex;
  flex-wrap: wrap;
}

.social-md {
  border-top: 1px solid rgb(199, 197, 197);
  display: flex;
  justify-content: center;
  padding: 1.2rem 0.4rem;
}

.social-md li {
  margin: 0;
  font-size: 1.25rem;
  list-style: none;
  color: rgb(110, 39, 39);
}

.copy {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}

.copy a {
  font-size: 0.9rem;
}
.copy a:hover {
  text-decoration: underline;
  background-color: black;
}

/* ------------------ MOBILE RESPONSIVE ------------------ */
@media (max-width: 750px) {
  header {
    display: flex;
    padding-bottom: 2.8rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    
  }
  .i{
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
   cursor: pointer;
    font-size: 1.5rem;
}

.nmhar{
 position: absolute;
  left: 1rem;
    top: 0.5rem;
    height: 40px;
}

nav ul {
  height: 100vh;
    display: none;            
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
  }
  header li{
      padding: 0.3rem;
  }
  

 nav ul.active {
    display: flex;          
  }

  #hbtn {
    display: none;
      margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  section {
    grid-template-columns: 1fr;
    text-align: center;
    max-width: 90vw;
  }

  .banner {
    margin: 1rem auto;
    width: 12rem;
  }

  .headpra {
    font-size: 1.5rem;
    margin: 1rem auto;
  }

  .getsbutton {
    margin: 1rem auto;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 85%;
    height: auto;
  }
  .card p{
    padding-bottom: 1rem;
  }

  .main-topfooter {
    flex-direction: column;
    align-items: center;
  }

  .container-topfooter {
    text-align: center;
  }

  .copy {
    padding-top: 1rem;
    flex-direction: column;
    text-align: center;
  }
  .copy p{
    padding-top: 0.5rem;
  }
}
